<div class="container">
  <mat-card style="margin-bottom: 100px">
    <div>
      <table mat-table [dataSource]="dataSourceVeiculos"
          matSort #tabelaRef #sort="matSort" style="width: 100%;">

        <ng-container matColumnDef="placa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
          <td mat-cell *matCellDef="let element">
            {{element.placa}}
          </td>
        </ng-container>

        <ng-container matColumnDef="capacidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacidade </th>
          <td mat-cell *matCellDef="let element">
            {{element.capacidade}} lugares
          </td>
        </ng-container>

        <ng-container matColumnDef="cor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cor </th>
          <td mat-cell *matCellDef="let element">
            {{element.cor}}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let element">
            {{element.tipo === 'ONIBUS' ? 'Ônibus' : 'Van'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="instituicoes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="coluna-instituicoes"> Instituições de ensino </th>
          <td mat-cell *matCellDef="let element" class="coluna-instituicoes">
            <span *ngFor="let instituicao of element.instituicoesEnsino; last as ultimo">
              {{instituicao.nome}}{{!ultimo ? ', ' : ''}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button [id]="element.id" mat-icon-button [routerLink]="['/veiculos', element.id]">
              <mat-icon>visibility</mat-icon>
            </button>

            <button [id]="element.placa" mat-icon-button *ngIf="false">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div style="text-align: center; margin-top: 10px;"
          *ngIf="dataSourceVeiculos?.data?.length === 0">
        <span>Não existem dados para exibição</span>
      </div>
    </div>

    <div class="div-botao-flutuante">
      <a *ngIf="fab" class="mat-elevation-z8" mat-fab color="accent" 
          [routerLink]="['/veiculo/cadastro']">
        <mat-icon>add</mat-icon>
      </a>

      <a *ngIf="!fab" class="mat-elevation-z8 extended-fab" mat-raised-button color="accent"
          [routerLink]="['/veiculo/cadastro']"> 
        CADASTRAR 
      </a>
    </div>
  </mat-card>

</div>
