<div>
  <div style="background-image: url('assets/road4.jpg'); min-height: 100px; padding: 15px 10px;
      background-position: center;
      background-size: cover;
      display: flex;">
    <img src="https://pbs.twimg.com/profile_images/1013743733827866624/Uk9TKA38_400x400.jpg"
        style="width: 80px; height: 80px; border-radius: 100%;">
    <h3 class="mat-h3" style="color: white; margin: auto 10px;font-weight: bold;">
      Vinícius O. G. Gomes
    </h3>
  </div>

  <mat-nav-list>
    <mat-list-item [id]="opcao.id" *ngFor="let opcao of opcoesMenuLateralAdmin"
        (click)="redirecionar(opcao.url)">
      <mat-icon mat-list-icon>{{opcao.icone}}</mat-icon>
      <a matLine>{{opcao.label}}</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item id="botaoSair" (click)="logout()">
      <a matLine>Sair</a>
    </mat-list-item>
  </mat-nav-list>
</div>
