<mat-card class="espacamento-card">
<div style="display: grid;">
  <div>
    <h3 style="color:gray">
      Informações do veículo
    </h3>
  </div>

  <div style="margin: 0 auto;">
      <img src="/assets/bus-dark.png"  >
  </div>

  <div>
    <table style="width:100%">
      <tr>
        <th>Placa</th>
        <th>Tipo</th>
      </tr>
      <tr>
        <td>{{placa}}</td>
        <td>{{tipo}}</td>
      </tr>
      <div style="margin-top: 15px"></div>
      <tr>
        <th>Capacidade</th>
        <th>Cor</th>
      </tr>
      <tr>
        <td>{{capacidade}}</td>
        <td>{{cor}}</td>
      </tr>
    </table> 
  </div>
</div>
</mat-card>
