<div class="container">
  <form [formGroup]="veiculoForm" autocomplete="off">

    <mat-card class="espacamento-card">
      <mat-card-header>
        <mat-card-title> Dados do veículo </mat-card-title>
      </mat-card-header>

      <!-- <div *ngIf="veiculo !== null && veiculo !== undefined ? true : false" class="div-imagem-veiculo"> -->
      <img mat-card-image
          *ngIf="veiculo !== null && veiculo !== undefined ? true : false" 
          [src]="veiculo?.linkFoto === undefined || veiculo?.linkFoto === null ? 'assets/bus-light.png' : veiculo?.linkFoto"
          [class.sem-imagem]="veiculo?.linkFoto === undefined || veiculo?.linkFoto === null ? true : false">
      <!-- </div> -->

      <mat-card-content class="form-container margem-superior-formulario">
        <!-- <div *ngIf="veiculo !== null && veiculo !== undefined ? true : false" class="div-imagem-veiculo">
          <img mat-card-image [src]="veiculo?.linkFoto === undefined || veiculo?.linkFoto === null ? 'assets/bus-light.png' : veiculo?.linkFoto"
              class="imagem-veiculo" [class.sem-imagem]="veiculo?.linkFoto === undefined || veiculo?.linkFoto === null ? true : false">
        </div> -->

        <div class="campo-imagem">
          <a mat-fab (click)="removerFotoCarregada(); imageInput.click();">
            <mat-icon>photo_camera</mat-icon>
              <input #imageInput type="file" (change)="onFotoInput($event)" style="display:none;"
                  formControlName="campoFoto">
          </a>
          <span class="mat-small" style="margin-left: 10px"> {{fotoVeiculo ? '' : 'Adicione uma foto do veículo'}} {{fotoVeiculo?.name | slice:0:20}}{{fotoVeiculo?.name?.length > 20 ? '...' : ''}}</span>
        </div>

        <mat-form-field appearance="outline" class="spacer-field">
          <mat-label>Placa</mat-label>
          <input id="campoPlaca" matInput placeholder="Exemplo: ABC-1234" required
              formControlName="campoPlaca">
  
          <mat-error *ngIf="veiculoForm.get('campoPlaca').hasError('required')">
            A placa é obrigatória
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="spacer-field">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="campoTipo" [(value)]="tipo" required>
            <mat-option *ngFor="let tipo of tiposVeiculo" [value]="tipo.valor">
              {{tipo.valor === 'ONIBUS' ? 'Ônibus' : 'Van'}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="veiculoForm.get('campoTipo').hasError('required')">
            O tipo é obrigatório
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="spacer-field">
          <mat-label>Capacidade</mat-label>
          <input id="campoCapacidade" matInput placeholder="Quantidade de assentos" required
              formControlName="campoCapacidade" type="number" min="0">
  
          <mat-error *ngIf="veiculoForm.get('campoCapacidade').hasError('required')">
            A capacidade é obrigatória
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="spacer-field">
          <mat-label>Cor</mat-label>
          <input id="campoCor" matInput placeholder="Cor do veículo"
              formControlName="campoCor">
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title> Instituições de ensino </mat-card-title>
        <mat-card-subtitle> 
          Adicione uma ou mais intituições de ensino atendidas por este veículo de transporte. 
          Para fazer isso, escolha uma instituição abaixo e aperte o botão <strong>+</strong>. 
          Será possível adicionar apenas instituições que ainda não estão associadas à algum veículo deste município.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="display: flex; flex-wrap: wrap;" class="margem-superior-formulario">
        <mat-form-field appearance="outline" class="spacer-field">
          <mat-label>Instituição de ensino</mat-label>
          <mat-select formControlName="campoInstituicao" [(value)]="instituicaoEnsino" 
              [disabled]="desabilitarCampoBotaoInstituicoes">
            <mat-option *ngFor="let instituicao of instituicoesEnsino" [value]="instituicao">
              {{instituicao.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button type="button" mat-mini-fab color="accent" [disabled]="desabilitarCampoBotaoInstituicoes"
              class="margem-botao-add-instituicao" (click)="adicionarInstituicao()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <table mat-table [dataSource]="dataSourceInstituicoes"
            #tabelaRef style="width: 100%; margin-top: 10px;">

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element">
              {{element.nome}}
            </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef class="coluna-acoes"> Remover dessa lista </th>
            <td mat-cell *matCellDef="let element" class="coluna-acoes">
              <button [id]="element.id" mat-icon-button type="button" (click)="removerInstituicao(element)">
                <mat-icon>clear</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="msg-tabela-vazia" *ngIf="dataSourceInstituicoes?.data?.length === 0">
          <span>Não existem dados para exibição</span>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="div-botoes-acao">
      <a mat-stroked-button class="botao-cancelar" [routerLink]="['/veiculos']">
          {{veiculo === null ? 'CANCELAR' : 'VOLTAR'}}</a>
      
      <button mat-raised-button color="accent" (click)="veiculo === null ? salvar() : atualizar()"
          [disabled]="!veiculoForm.valid">{{veiculo === null ? 'SALVAR' : 'ATUALIZAR'}}</button>
    </div>
  </form>
</div>