<mat-tab-group mat-stretch-tabs id="tabGroupSOS"
    color="accent" backgroundColor="primary">
  <mat-tab label="telefones">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">local_phone</mat-icon>
      <span *ngIf="!mobileQuery.matches">Telefones</span>
    </ng-template>

    <div class="container">
      <mat-card>
        <mat-list>
          <mat-list-item *ngFor="let item of sos; last as ultimo">
            <img matListAvatar [src]="item.url">
            <h3 matLine> {{item.nome}} </h3>
            <p matLine>
              <span> {{item.numero}} </span>
            </p>

            <span style="flex: 1 1 auto;"></span>
      
            <div class="no-theme">
              <button mat-icon-button color="primary">
                <mat-icon>local_phone</mat-icon> 
              </button>
            </div>

            <mat-divider [inset]="true" *ngIf="!ultimo"></mat-divider>

          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab id="abaEnderecosEmergencia" label="enderecoEmergencia">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">place</mat-icon>
      <span *ngIf="!mobileQuery.matches">Endereços de emergência</span>
    </ng-template>
  </mat-tab>
  
</mat-tab-group> 