.stretched-tabs {
  max-width: 800px;
}

.tab-icon {
  margin-right: 8px;
}

.margem-texto-resumo-viagem {
  margin: auto 5px auto 0;
}

.padding-divisor {
  padding: 1px;
}

.estilo-botao-ajuda {
  background: #212121;
  border-radius: 100px;
}