<mat-tab-group mat-stretch-tabs id="tabGroupCheckin" (selectedTabChange)="getListaPresenca($event)"
    color="accent"
    backgroundColor="primary">
    <!-- mat-elevation-z2 -->
  <mat-tab label="confirmacaoPresenca">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">done_all</mat-icon>
      <span *ngIf="!mobileQuery.matches">Confirme sua presença</span>
    </ng-template>
    <div class="container">
      <mat-card style="height: 100%">
        <mat-card-header>
          <mat-card-title>Confirmação de presença</mat-card-title>
        </mat-card-header>
        <!-- <h3 style="font-weight: 100; font-size: 23px;">Confirmação de presença</h3> -->

        <div style="margin-top: 35px; padding: 10px; min-height: 26px;">
          <span style="font-size: 15px; color: gray;">
            {{textoAjuda}}
          </span>
        </div>

        <div style="text-align: center; margin-top: 50px;" *ngIf="exibirBotao"> 
          <div style="display: flow-root; height: 31px;" class="accent-dark">
            <button mat-icon-button style="float: right;" [color]="isPresencaConfirmada ? 'accent' : 'primary'"
                (click)="isPresencaConfirmada ? abrirAjuda('botaoEmbarquei') : abrirAjuda('botaoConfirmar')" 
                *ngIf="!embarcou">
              <mat-icon>{{isPresencaConfirmada ? 'help' : 'help_outline'}}</mat-icon> <!-- [class.estilo-botao-ajuda]="isPresencaConfirmada" -->
            </button>
          </div>

          <button mat-raised-button [color]="corBotao" (click)="confirmarPresenca()"
              style="height: 50px; width: 160px; border-radius: 50px;
              font-weight: bold; font-size: 18px; padding-top: 2px;">
            {{textoBotao}}
          </button>
        </div>

        <div style="text-align: center; margin: 15px 0px; min-height: 65px;" *ngIf="!isPresencaConfirmada">
          <span style="font-size: 13px; color: gray;" *ngIf="estaNoPonto && !isPresencaConfirmada">
            Espere o ônibus chegar para confirmar sua presença ou desmarque a
            opção <strong>Estou no meu ponto</strong> para confirmar agora.
          </span>
        </div>

        <div style="text-align: center; margin-top: 80px;" *ngIf="embarcou">
          <span style="font-size: 15px; color: gray;">Volte aqui no seu próximo dia de aula para confirmar sua presença novamente.</span>
        </div>

        <div style="text-align: center; margin-top: 23px;" *ngIf="false"> <!--exibirCheckbox-->
          <div style="display: flow-root; width: 94%; height: 30px;" class="accent-dark">
            <button mat-icon-button style="float:right" color="primary" (click)="abrirAjuda('checkboxEstaNoPonto')">
              <mat-icon>help</mat-icon> <!--  [class.estilo-botao-ajuda]="isPresencaConfirmada" -->
            </button>
          </div>
          <mat-checkbox [(ngModel)]="estaNoPonto" name="checkEstaNoPonto" color="primary" style="font-size: 13px;">
            Estou no meu ponto
          </mat-checkbox>
        </div>

        <div style="text-align: center; margin-top: 101px;" *ngIf="isPresencaConfirmada && !embarcou">
          <div style="display: flow-root; height: 20px; width: 62%; margin: auto;" class="accent-dark">
            <button mat-icon-button style="float: right;" color="accent" (click)="abrirAjuda('desistir')">
              <mat-icon>help</mat-icon> <!-- [class.estilo-botao-ajuda]="isPresencaConfirmada" -->
            </button>
          </div>
          <a mat-button (click)="desistir()" color="primary" style="font-weight: bold;">DESISTIR</a>
        </div>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab id="abaPresencasConfirmadas" label="listaPresenca">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">list</mat-icon>
      <span *ngIf="!mobileQuery.matches">Lista de presença</span>
    </ng-template>

    <ng-template matTabContent> <!-- REMOVER ESTA TAG -->
      <div class="container accent-dark">
        <mat-card style="margin-bottom: 10px" *ngIf="totalPresencasConfirmadas !== 0">
          <mat-card-header>
            <mat-card-title>Resumo da viagem</mat-card-title>
          </mat-card-header>
          <!-- <h3 style="font-weight: 100; font-size: 23px;">Resumo da viagem</h3> -->

          <div style="min-height: 20px; margin: 15px 0; display: flex; justify-content: space-between;">
            <span style="font-size: 15px; color: gray;" [ngPlural]="totalPresencasConfirmadas" class="margem-texto-resumo-viagem">
              <ng-template ngPluralCase="1">{{totalPresencasConfirmadas}} estudante confirmou presença hoje</ng-template>
              <ng-template ngPluralCase="2">{{totalPresencasConfirmadas}} estudantes confirmaram presença hoje</ng-template>              
              <ng-template ngPluralCase="few">{{totalPresencasConfirmadas}} estudantes confirmaram presença hoje</ng-template>              
              <ng-template ngPluralCase="many">{{totalPresencasConfirmadas}} estudantes confirmaram presença hoje</ng-template>
              <!-- <ng-template>{{totalPresencasConfirmadas}} estudantes pretendem utilizar o transporte estudantil hoje</ng-template> -->
            </span>

            <button mat-icon-button color="accent" (click)="abrirAjuda('totalPresencasConfirmadas')">
              <mat-icon>help</mat-icon> <!--class="estilo-botao-ajuda"-->
            </button>
          </div>

          <div class="padding-divisor" *ngIf="quantidadeAguardandoSaida != 0">
            <mat-divider [inset]="true"></mat-divider>
          </div>

          <div style="min-height: 20px; margin: 15px 0; display: flex; justify-content: space-between;"
              *ngIf="quantidadeAguardandoSaida !== 0">
            <span style="font-size: 15px; color: gray;" [ngPlural]="quantidadeAguardandoSaida" class="margem-texto-resumo-viagem">
              <ng-template ngPluralCase="1">{{quantidadeAguardandoSaida}} estudante aguardando a saída do veículo</ng-template>
              <ng-template ngPluralCase="2">{{quantidadeAguardandoSaida}} estudantes aguardando a saída do veículo</ng-template>              
              <ng-template ngPluralCase="few">{{quantidadeAguardandoSaida}} estudantes aguardando a saída do veículo</ng-template>              
              <ng-template ngPluralCase="many">{{quantidadeAguardandoSaida}} estudantes aguardando a saída do veículo</ng-template>
            </span>

            <button mat-icon-button color="accent" (click)="abrirAjuda('quantidadeAguardandoSaida')">
              <mat-icon>help</mat-icon> <!--  class="estilo-botao-ajuda" -->
            </button>
          </div>

          <div class="padding-divisor" *ngIf="quantidadeAguardandoSaida != 0">
            <mat-divider [inset]="true"></mat-divider>
          </div>

          <div style="min-height: 20px; margin: 15px 0; display: flex; justify-content: space-between;" 
              *ngIf="quantidadeAguardandoSaida !== 0">
            <span style="font-size: 15px; color: gray;" [ngPlural]="quantidadeEmAula" class="margem-texto-resumo-viagem">
              <ng-template ngPluralCase="0">Nenhum estudante está em aula, o veículo já pode voltar para o município</ng-template>
              <ng-template ngPluralCase="1">{{quantidadeEmAula}} estudante ainda está em aula</ng-template>
              <ng-template ngPluralCase="2">{{quantidadeEmAula}} estudantes ainda estão em aula</ng-template>                
              <ng-template ngPluralCase="few">{{quantidadeEmAula}} estudantes ainda estão em aula</ng-template>
              <ng-template ngPluralCase="many">{{quantidadeEmAula}} estudantes ainda estão em aula</ng-template>
            </span>

            <button mat-icon-button color="accent" (click)="abrirAjuda('quantidadeEmAula')">
              <mat-icon>help</mat-icon> <!--  class="estilo-botao-ajuda" -->
            </button>
          </div>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>Estudantes</mat-card-title>
          </mat-card-header>
          <!-- <h3 style="font-weight: 100; font-size: 23px;">Estudantes</h3> -->

          <mat-list id="listaPresenca">
            <mat-list-item *ngFor="let checkin of listaPresenca?.checkins; last as last">
              <img matListAvatar [src]="checkin?.estudante?.linkFoto === undefined || checkin?.estudante?.linkFoto === null ? 'assets/account-circle.png' : checkin?.estudante?.linkFoto" 
                  style="width:60px; height: 60px; border-radius: 100px">
              <h4 mat-line> {{checkin?.estudante?.nome}} {{checkin?.estudante?.sobrenome}} </h4>
              <p mat-line [class.status-aguardando-volta]="formatarStatusCheckin(checkin) !== 'AGUARDANDO_CONFIRMACAO' ? 
                  (checkin.status === 'EMBARCOU' ? true : false) : false"
                  [class.status-presenca-confirmada]="formatarStatusCheckin(checkin) !== 'AGUARDANDO_CONFIRMACAO' ? 
                  (checkin.status === 'CONFIRMADO' ? true : false) : false"> 
                {{ formatarStatusCheckin(checkin) === 'AGUARDANDO_CONFIRMACAO' ? 'Não confirmou presença' : 
                (checkin.status === 'CONFIRMADO' ? 'Presença confirmada' : 
                (checkin.status === 'EMBARCOU' ? 'Aguardando viagem de volta' : 'Não confirmou presença') ) }} 
              </p>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
