<div class="container">
  <div style="text-align: center; margin: 25px">
    <h1 class="mat-h1">
      Detalhes do(a) estudante
    </h1>
  </div>

  <div style="display: flex; flex-wrap: wrap; margin-bottom: 90px">
    <div [ngStyle]="{'flex': flexPrimeiraColuna}">
      <mat-card class="espacamento-card-detalhes-estudante"> <!-- flex-wrap: wrap; justify-content: center; -->
        <mat-card-title>Dados pessoais</mat-card-title>

        <div style="display: flex">
          <div [ngStyle]="{'background': 'transparent no-repeat center',
              'background-size': 'cover',
              'width': '100px',
              'height': '100px',
              'margin': '15px 15px 15px 0',
              'border-radius': '100px',
              'background-image': url()}">
          </div>

          <div style="display:grid">
            <span class="mat-body-strong">Nome</span>
            <span class="mat-small">{{estudante.nome}} {{estudante.sobrenome}}</span>

            <span style="margin-bottom: 10px"></span>

            <span class="mat-body-strong">Telefone</span>
            <span class="mat-small">{{estudante.numeroCelular}}</span>
          </div>
        </div>
      </mat-card>

      <mat-card class="espacamento-card-detalhes-estudante">
        <mat-card-title>Endereço</mat-card-title>

        <div style="display:grid;">
          <div style="display:flex;">
            <span class="mat-body-strong" style="min-width: 95px">Logradouro</span>
            <span class="mat-small" style="margin: auto 0;">{{endereco.logradouro}}</span>
          </div>

          <span style="margin-bottom: 10px"></span>

          <div style="display:flex;">
            <span class="mat-body-strong" style="min-width: 60px">Bairro</span>
            <span class="mat-small" style="margin: auto 0;">{{endereco.bairro}}</span>
          </div>
        </div>
      </mat-card>

      <mat-card class="espacamento-card-detalhes-estudante">
        <mat-card-title>Pontos de parada</mat-card-title>

        <div style="display:grid;">
          <div style="display:flex;">
            <span class="mat-body-strong" style="min-width: 50px">Ida</span>
            <span class="mat-small" style="margin: auto 0;">{{pontoIda.nome}}</span>
          </div>

          <span style="margin-bottom: 10px"></span>

          <div style="display:flex;">
            <span class="mat-body-strong" style="min-width: 50px">Volta</span>
            <span class="mat-small" style="margin: auto 0;">{{pontoVolta.nome}}</span>
          </div>
        </div>
      </mat-card>

      <mat-card class="espacamento-card-detalhes-estudante">
        <mat-card-title>Dados acadêmicos</mat-card-title>

        <div style="display:grid;">
          <div style="display:flex;">
            <span class="mat-body-strong" style="min-width: 147px">Instituição de ensino</span>
            <span class="mat-small" style="margin: auto 0;">{{instituicaoEnsino}}</span>
          </div>

          <span style="margin-bottom: 10px"></span>

          <div style="display:flex;">
            <span class="mat-body-strong" style="min-width: 60px">Curso</span> <!-- 57 -->
            <span class="mat-small" style="margin: auto 0;">{{curso}}</span>
          </div>
        </div>
      </mat-card>
    </div>

    <div [ngStyle]="{'margin-left': marginLeftSegundaColuna, 'min-width': '300px', 'flex': '1'}">
      <mat-card style="margin-bottom: 10px;">
        <mat-card-title>Conta</mat-card-title>

        <div style="display: flex;">
          <span class="mat-body-strong" style="min-width: 60px">Status</span>
          <span class="mat-small" style="margin: auto 0;">{{estudante.ativo ? 'Conta ativada' : (estudante.comprovanteMatricula?.status === 'EM_ANALISE' ? 'Aguardando análise' : 'Comprovante recusado')}}</span>
        </div>
      </mat-card>

      <mat-card>
        <mat-card-title>Comprovante de matrícula</mat-card-title>

        <div style="margin: 15px 0 15px 0px; display: flex;">
          <span class="mat-body-strong" style="min-width: 120px">Data de envio</span>
          <span class="mat-small" style="margin: auto 0;">{{dataEnvioComprovante}}</span>
        </div>

        <div style="display: grid">
          <div style="margin: 0px 0px 15px 0px;">
            <a mat-stroked-button color="primary" target="_blank" rel="noopener noreferrer"
                [href]="comprovanteMatriculaLink">VER COMPROVANTE</a>
          </div>

          <div>
            <span class="mat-small">
              Se estiver tudo certo com o comprovante marque a opção <strong>ACEITAR</strong>,
              caso contrário, marque a opção <strong>RECUSAR</strong> e escreva uma justificativa
              descrevendo o motivo da recusa. Por fim, aperte o botão <strong>SALVAR</strong>
              para confirmar as alterações.
            </span>

            <mat-radio-group style="display: grid; margin: 15px 0;" [(ngModel)]="statusComprovante">
              <mat-radio-button (click)="comprovanteMatriculaFormGroup.get('campoJustificativa').disable(); removerValidador()"
                  style="margin: 10px 0px;" value="true">ACEITAR</mat-radio-button>
              <mat-radio-button (click)="comprovanteMatriculaFormGroup.get('campoJustificativa').enable(); adicionarValidador()"
                  style="margin: 10px 0px;" value="false">RECUSAR</mat-radio-button>
            </mat-radio-group>
          </div>

          <form [formGroup]="comprovanteMatriculaFormGroup" autocomplete="off">
            <div style="margin-top: 25px;">
              <mat-form-field appearance="outline" style="width: 100%;" floatLabel="auto">
                <mat-label>Justificativa</mat-label>
                <textarea matInput cdkTextareaAutosize 
                    placeholder="Por que o comprovante de matrícula não é válido?" [required]="statusComprovante === 'false'"
                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="campoJustificativa">
                </textarea>

                <mat-error *ngIf="statusComprovante === 'false'"> <!-- *ngIf="firstFormGroup.get('campoNome').hasError('required')" -->
                  A justificativa é obrigatória
                </mat-error>
              </mat-form-field>
            </div>

            <div style="display: flex; margin-top: 20px; margin-bottom: 24px">
              <div style="text-align: start; flex: 1;">
                <a mat-button [routerLink]="['/estudantes']">VOLTAR</a>
              </div>
              <div style="text-align: end; flex: 1;">
                <button [disabled]="statusComprovante === null || !(comprovanteMatriculaFormGroup.status !== 'INVALID')" mat-raised-button color="accent" (click)="salvar()">SALVAR</button>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
