.container-login {
  max-width: 400px;
  margin: auto
}

.form-container-login {
  display: flex;
  flex-direction: column;
  margin: 4% 6%;
}

.form-container-login > * {
  width: 100%;
}

.spacer-field {
  margin-top: 15px;
}

#botao-login {
  height: 56px; 
  padding-top: 3px;
  font-size: 17px;
  border-radius: 100px; 
  font-weight: bold; 
  width: 80%; 
  margin: 15px auto 0 auto;
}