<div class="container-login">
  <form [formGroup]="loginForm" autocomplete="off">
    <mat-card class="form-container-login"
        style="background-color: #2979FF; box-shadow: unset;">

      <div style="text-align: center; padding-bottom: 25px;">
        <img src="assets/256px.png" style="width: 150px; height: 150px;">
        <div>
          <span style="font-size: 24px; letter-spacing: 3px; color: white;">EMBARQUEI</span>
        </div>
      </div>

      <mat-form-field id="formFieldNumeroCelular" appearance="outline" class="spacer-field" color="accent">
        <mat-label id="labelNumeroCelularLogin" style="color:white">Número do celular</mat-label>
        <input id="campoNumeroCelularLogin" matInput placeholder="Digite o DDD e o número"
            required formControlName="campoNumeroCelular" style="color:white"> <!-- [textMask]="{mask: mascaraMatricula, guide: false}" -->

        <mat-error *ngIf="loginForm.get('campoNumeroCelular').hasError('required')" style="color:white">
          O número do celular deve ser informado
        </mat-error>
      </mat-form-field>

      <mat-form-field id="formFieldSenha" appearance="outline" class="spacer-field" color="accent">
        <mat-label id="labelSenhaLogin" style="color:white">Senha</mat-label>
        <input id="campoSenhaLogin" matInput placeholder="Senha" required type="password"
            formControlName="campoSenha" style="color:white"> <!-- background-color: #2979FF; -->

        <mat-error *ngIf="loginForm.get('campoSenha').hasError('required')" style="color:white">
          A senha deve ser informada
        </mat-error>
      </mat-form-field>

      <button mat-raised-button id="botao-login" type="submit" color="accent" class="spacer-field"
          (click)="loginForm.valid ? login() : loginForm.markAsTouched()">ENTRAR</button> <!-- height: 45px -->

      <a mat-button class="spacer-field" *ngIf="false"
          style="color: white; width: 200px; margin: 20px auto 0px auto;"> Esqueci minha senha </a>

      <a mat-button class="spacer-field" [routerLink]="['/estudante/cadastro']" 
          style="color: white; width: 200px; margin: 20px auto 0px auto;">Criar uma conta</a>
    </mat-card>
  </form>
</div>
