.fonte-card-dashboard {
    font-weight: bold;
}

.background-checkin {
    background: #FDD835;
}

.background-veiculo {
    color: #2979FF;
}

.background-rota {
    background: url(assets/road11.jpg) bottom center / cover no-repeat rgb(60, 60, 60); 
    color: white;
}

.background-condutor {
    background: #2979FF; color: white;
}