<div class="container">
  <mat-card matRipple [matRippleDisabled]="textoCheckin === 'Carregando...'" 
      class="espacamento-card card-clicavel background-checkin" 
      (click)="textoCheckin !== 'Carregando...' && textoCheckin !== 'Indisponível' ? 
        redirecionar('/checkin') : false">
    <div>
      <p class="mat-subheading-1 fonte-card-dashboard"> Check-in </p>
      <p class="mat-headline fonte-card-dashboard"> {{textoCheckin}} </p> 
    </div>
  </mat-card>

  <mat-card class="espacamento-card card-clicavel background-veiculo"
      matRipple [matRippleDisabled]="textoVeiculo === 'Carregando...'"
      (click)="textoVeiculo !== 'Carregando...' && textoVeiculo !== 'Indisponível' ? 
        redirecionar('/detalhesVeiculo/'+veiculoTransporte?.id) : false">
    <div>    
      <p class="mat-subheading-1 fonte-card-dashboard"> Veículo </p>
      <p class="mat-headline fonte-card-dashboard"> {{textoVeiculo}} </p>
    </div>
  </mat-card>

  <mat-card class="espacamento-card card-clicavel background-rota"
      matRipple [matRippleDisabled]="descricaoIda === 'Carregando...'"
      (click)="descricaoIda !== 'Carregando...' && descricaoIda !== 'Indisponível' ? 
        redirecionar('/rota') : false">
    <div>
      <p class="mat-subheading-1 fonte-card-dashboard"> Rota </p>
      <p class="fonte-card-dashboard mat-body-strong"> 
        <strong> Ida: </strong>
        <span class="mat-body"> {{descricaoIda | slice:0:33}}{{descricaoIda?.length > 33 ? '...' : '' }} </span>
        <br/>
        <strong>Volta: </strong>      
        <span class="mat-body"> {{descricaoVolta | slice:0:33}}{{descricaoVolta?.length > 33 ? '...' : '' }} </span>
      </p>
    </div>
  </mat-card>

  <mat-card class="espacamento-card card-clicavel background-condutor">
    <div>
      <p class="mat-subheading-1 fonte-card-dashboard"> Motorista </p>
      <p class="mat-headline fonte-card-dashboard"> {{textoCondutor}} </p>
    </div>
  </mat-card>
</div>