<div class="accent-dark" style="display: flex; justify-content: space-between;">
  <h1 mat-dialog-title cdkFocusInitial style="margin-left: 24px">{{tipoTrajeto === 'IDA' ? 'Trajeto de ida' : 'Trajeto de volta'}}</h1> <!--  -->

  <button style="margin: 0 24px" mat-icon-button 
      (click)="exibirAjuda()"
      color="accent">
    <mat-icon>help</mat-icon>
  </button>
</div>

<div *ngIf="ajudaVisivel" style="margin-bottom: 20px">

  <mat-divider style="margin: 0px 24px;"></mat-divider>

  <h3 style="margin-left: 24px" class="mat-body-2">Ajuda</h3>

  <div style="margin: 0px 24px; text-align: justify"> <!-- class="mat-subheading-1" -->
    <p class="mat-body">
      <strong>1.</strong> Selecione qualquer parte do mapa para 
      adicionar pontos de parada do veículo estudantil. Os pontos serão listados abaixo do mapa na 
      ordem em que forem marcados. 
    </p>

    <p class="mat-body">
      <strong>2.</strong> Para cada ponto, dê um nome que o identifique. Geralmente o nome é um ponto 
      de referência. 
    </p>

    <p class="mat-body">
      <strong>3.</strong> Para remover um ponto de parada aperte o botão <strong>EXCLUIR</strong> 
      que fica visível quando um ponto é selecionado.
    </p>

    <p class="mat-body">
      <strong>4.</strong> É possível movimentar um ponto pelo mapa segurando e arrastando ele para 
      o local desejado. 
    </p>

    <p class="mat-body">
      <strong>5.</strong> Você pode aumentar ou diminuir o zoom do mapa através dos botões 
      <strong> + </strong> e <strong> - </strong> localizados no canto inferior direito do mapa. 
    </p>
    
    <p class="mat-body">
      <strong>6.</strong> É possível também ter uma <strong >visão da rua</strong>, para isso, arraste 
      o ícone que representa uma pessoa (à direita, acima dos ícones de zoom no mapa) até o local 
      desejado e então será exibida uma vista da rua. Isso pode ser útil quando houver dúvida
      sobre o local do ponto de parada. 
    </p>
    
    <p class="mat-body">
      <strong>7.</strong> Quando terminar de adicionar todos os pontos de parada, aperte o botão 
      <strong>GERAR TRAJETO</strong>, localizado abaixo do mapa.
    </p>

    <p class="mat-body">
      <strong>8.</strong> Ao gerar o trajeto, será possível fazer ajustes nele. Você poderá 
      reposicionar os pontos de parada e o trajeto que foi gerado. Para isso selecione um ponto de 
      parada ou qualquer local do trajeto (em azul) e arraste para o local desejado. Um novo trajeto 
      será gerado após o reposicionamento.
    </p>

    <p class="mat-body">
      <strong>9.</strong> Após gerar o trajeto, só será possível editar os nomes dos pontos
      ou adicionar mais pontos ao trajeto apertando o botão <strong>EDITAR PONTOS</strong>.
    </p>

    <p class="mat-body">
      <strong>10.</strong> Para salvar o trajeto, aperte o botão <strong>SALVAR</strong>, localizado
      abaixo da lista de pontos de parada.
    </p>
  </div>

  <div style="display: flex; justify-content: flex-end;">
    <button style="margin: 10px 24px;" color="primary" mat-button 
        (click)="exibirAjuda()">
      ENTENDI
    </button>
  </div>

  <mat-divider style="margin: 0px 24px;"></mat-divider>
</div>

<agm-map (mapClick)="mapClicked($event);"
    [latitude]="geolocalizacaoMapa.lat"
    [longitude]="geolocalizacaoMapa.lng"
    [zoom]="zoom"
    [disableDefaultUI]="false">

  <form [formGroup]="form" id=form-marker *ngIf="!rotaVisivel">
    <agm-marker *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="{color: 'white', fontFamily: 'sans-serif', fontWeight: 'bold', text: m.ordem}"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)"
        class="info-window">

      <agm-info-window [isOpen]="m.infoVisivel">
        <mat-form-field required style="width: 100%; margin-bottom: 15px">
          <mat-label>Nome do ponto</mat-label>
          <textarea matInput [value]="m.nome ? m.nome : ''"
              cdkTextareaAutosize cdkAutosizeMinRows="1" 
              cdkAutosizeMaxRows="2" [formControlName]="m.id"
              placeholder="Pode ser uma referência"
              (keyup)="atualizarNomePonto(m, $event)"
              style="color:#212121">
          </textarea>

          <mat-hint class="mat-small">
            Dicas: Mercado X. Escola Y.
          </mat-hint>

          <mat-error class="mat-small" *ngIf="form.get(m.id).hasError('required')">
            O nome é obrigatório
          </mat-error>

          <mat-error class="mat-small" *ngIf="form.get(m.id).hasError('invalidName')">
            Nome inválido
          </mat-error>
        </mat-form-field>

        <div class="info-window-theme">
          <button style="margin-left: 45px;" mat-button color="primary"
              type="button" (click)="removerMarcador(m)">
            EXCLUIR
          </button>
        </div>
      </agm-info-window>
    </agm-marker> 
  </form>

  <agm-direction *ngIf="rotaVisivel" [origin]="origemRota" [optimizeWaypoints]="optimizeWaypoints"
      [waypoints]="pontosParada" [destination]="destinoRota" (onChange)="onChange($event)"
      [renderOptions]="renderOptions" 
      [drivingOptions]="drivingOptions">
      <!-- [transitOptions]="transitOptions" -->
  </agm-direction>
</agm-map>

<app-dados-trajeto
    [distancia]="distancia" 
    [tempoTotalTrajeto]="tempoTotalTrajeto" 
    [partida]="partida" 
    [chegada]="chegada">
</app-dados-trajeto>

<div *ngIf="markers.length >= 2" style="text-align: center; margin-top: 20px;">
  <button mat-stroked-button color="primary" type="button"
      style="margin: 0px 10px" (click)="gerarTrajeto()">
    {{rotaVisivel ? 'EDITAR PONTOS' : 'GERAR TRAJETO'}}
  </button>
</div>

<div *ngIf="markers.length >= 1" class="mat-typography"
    style="margin-top: 20px; margin-left: 24px; margin-right: 24px;">
  <mat-list dense>
    <h3 mat-subheader>Pontos de parada</h3>
    <mat-list-item *ngFor="let m of markers; let i = index; last as ultimo">
      <span [class.ponto-sem-nome]="m.nome === undefined || m.nome === '' ? true : false"> 
        <strong class="mat-body-2"> {{ i+1 }} </strong> 
        {{ m.nome === undefined || m.nome === '' ? ' Sem nome' : ' ' + m.nome }} 
      </span>
      <mat-divider inset="true" *ngIf="!ultimo"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<mat-dialog-actions align="end" style="margin: 15px 0px;">
  <button type="button" mat-stroked-button mat-dialog-close (click)="rotaVisivel = false"
      style="margin-right: 10px"> 
    CANCELAR 
  </button>

  <button mat-flat-button color="accent" *ngIf="rotaVisivel"
      style="margin-right: 10px" (click)="salvar()">
    SALVAR
  </button>
</mat-dialog-actions>

