<h2 mat-dialog-title id="titulo-dialog">AJUDA</h2>
<div mat-dialog-content>
  <p>
    Quando você marca a opção <strong>Estou no meu ponto</strong> e aperta o botão <strong>CONFIRMAR </strong>
    significa que o ônibus está no ponto onde você está esperando. Fazendo isso você permite que outros estudantes possam
    ver por quais pontos o ônibus já passou.
  </p>
</div>

<div mat-dialog-actions style="float:right;">
  <button mat-button mat-dialog-close color="primary" >ENTENDI</button> <!-- cdkFocusInitial -->
</div>
