<mat-drawer-container class="container-layout" hasBackdrop="true" [ngStyle]="{'background': alterarBackground()}">
  <mat-drawer #drawerRef mode="over">
    <app-menu [drawerRef]="drawerRef"></app-menu>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-layout">
      <mat-toolbar color="primary" class="toolbar" *ngIf="ocultarToolbar()"><!-- mat-elevation-z2 -->
        <mat-toolbar-row *ngIf="ocultarToolbar()">
          <button id="botaoMenu" mat-icon-button (click)="drawerRef.toggle();" *ngIf="ocultarMenu()">
            <mat-icon>menu</mat-icon>
          </button>

          <h1 class="page-name"> {{ storageDataService.tituloBarraSuperior }} </h1>

          <span style="flex: 1 1 auto;"></span>

          <button mat-icon-button *ngIf="router.url === '/checkin'" (click)="abrirLembreteDialog()">
            <mat-icon>event_available</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <div [style.marginTop]="router.url === '/login' ? 'auto' : '56px'"> <!-- style="margin-top: 56px;" -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
