<mat-drawer-container class="container-layout" hasBackdrop="true">
  <mat-drawer #drawerRef mode="over">
    <app-menu></app-menu>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-layout" [class.is-mobile]="mobileQuery.matches">
      <mat-toolbar color="primary" class="toolbar" *ngIf="ocultarToolbar()">
        <mat-toolbar-row *ngIf="ocultarToolbar()">
          <button id="botaoMenu" mat-icon-button (click)="mobileQuery.matches ? drawerRef.toggle() : sidenavRef.toggle()" *ngIf="ocultarMenu()">
            <mat-icon>menu</mat-icon>
          </button>

          <h1 class="page-name"> {{ storageDataService.tituloBarraSuperior }} </h1>

          <span style="flex: 1 1 auto;"></span>

          <button mat-icon-button *ngIf="router.url === '/checkin'" (click)="abrirLembreteDialog()">
            <mat-icon>event_available</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-sidenav-container class="sidenav-container"
          [style.marginTop.px]="mobileQuery.matches && ocultarToolbar() ? 56 : 0"> <!-- && ocultarToolbar() -->
        <mat-sidenav #sidenavRef [mode]="mobileQuery.matches ? 'over' : 'side'" *ngIf="ocultarMenu()"
              [fixedInViewport]="mobileQuery.matches" fixedTopGap="Non-fixed" id="sidebar"> <!-- Non-fixed -->
            <app-menu></app-menu>
        </mat-sidenav>

        <mat-sidenav-content [ngStyle]="{'background': alterarBackground()}">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
